* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;

}

html {
  font-size: 16px;
}

body {
  background-color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}



@media screen and (max-width:1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width:768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:425px) {
  html {
    font-size: 10px;
  }
}